#login-box {
	border-radius: 50px;
	width:center;
	height: 352px;
	padding: 76px 76px 0 76px;	
	color: #ebebeb;
	font: 12px Arial, Helvetica, sans-serif;
	background: url(images/login-box-backg.png) no-repeat center top;
}